arxiv/main_arxiv.aux
arxiv/main_arxiv.bbl
arxiv/main_arxiv.blg
arxiv/main_arxiv.log
arxiv/main_arxiv.out
arxiv/main_arxiv.pdf
arxiv/main_arxiv.synctex.gz
acm-csur/main.aux
acm-csur/main.bbl
acm-csur/main.blg
acm-csur/main.log
acm-csur/main.out
acm-csur/main.pdf
acm-csur/main.synctex.gz
acm-csur/supplement.aux
acm-csur/supplement.bbl
acm-csur/supplement.blg
acm-csur/supplement.log
acm-csur/supplement.out
acm-csur/supplement.pdf
acm-csur/supplement.synctex.gz
